body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  padding-top: 60px; /* Ajuste conforme necessário para corresponder à altura do cabeçalho */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Para garantir que o cabeçalho esteja sempre acima do conteúdo */
}

header h1 {
  margin: 0;
}

header p {
  font-size: 18px;
}

section {
  padding: 40px 0;
  margin-bottom: 10px; /* Reduzindo o espaçamento inferior das seções */
}

#about {
  padding-top: 100px; /* Ajuste conforme necessário para corresponder à altura do cabeçalho */
}

#demo {
  padding-bottom: 60px; /* Ajuste conforme necessário para corresponder à altura do rodapé */
}

h2 {
  color: #333;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin-bottom: 20px;
}

li strong {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 200px; /* Altura máxima das imagens */
}

iframe {
  width: 100%;
  display: block;
  margin: 0 auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer p {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.item {
  text-align: center;
}
